#tbl-result, .tbl-artifacts, .tbl-top {
    background-color: #222;
    color: #eee;
    .col-def { display: none; }
    //.col-atk { display: none; }
    //.col-em { display: none; }
    //.col-flat-dmg {display: none;}
    .col-hp { display: none; }
    //.col-flat-dmg { display: none; }
}
